.title-blog{
	margin: 0;
    line-height: normal;
    letter-spacing: normal;
	font: normal normal normal 34px/1.4em helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;
    color: #333333;
}
.table-blog{
	width: 100%;
	text-align: left;
}
.description-blog > span{
	font: normal normal normal 15px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;
    color: #383838;
}
.description-blog{
	padding-bottom: 10px;
}
.title-blog-second{
    margin: 0;
    line-height: normal;
    letter-spacing: normal;
    font: normal normal normal 34px/1.4em helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;
    color: #333333;
}
.title-blog-second > div{
	font-size: 22px;
    line-height: normal;
    letter-spacing: normal;
    width: 100%;
}
.description-blog-second > p{
	font: normal normal normal 16px/1.2 em helvetica-w01-light,helvetica-w02-light,sans-serif;
    color: #383838;
    line-height: .8;
}
.description-blog-second-2{
    width: 97%;
}
.description-blog-second-2 > p{
    font: normal normal normal 16px/1.2 em helvetica-w01-light,helvetica-w02-light,sans-serif;
    color: #383838;
    line-height: .8;
    margin-left: 20px; 
    margin-top: 3px;
    line-height: 1.2;
}
.input-blog{
	font: normal normal normal 15px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid rgba(230, 147, 23, 1);
    color: #383838;
    margin: 0 0 5px;
    width: 75%;
    margin-left: 20px;
    background-color: rgb(245, 245, 245);
    padding: 0 2.5em 0 0.5em;
}
.input-height-35{
	    height: 35px;
}
.buttom-blog-send{
	background-color: rgba(230, 147, 23, 1);
    font: normal normal normal 18px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;
    border: 0;
    color: #FAFAFA;
    cursor: pointer;
    float: right;
    margin: 0;
    border-radius: 0;
    padding: 5px;
}
.date-post{
    font: normal normal normal 12px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;
    color: #383838;
    margin-left: 19px;
}
.learnMore{
    background-color: rgba(2, 148, 181, 1);
    border: solid rgba(146, 146, 146, 1) 0px;
    cursor: pointer !important;
    color: #ffffff;
    margin-left: 19px;
    width: 100px;
    height: 30px;
    font-size: 15px;
}

#principal li { 
   display:inline; 
   float:left; 
}

#principal li { 
   display:inline; 
   float:left; 
   /*max-width: 275px;*/
   width: 100%;
   background-color:#f5f7f9; 
   padding:5px; 
   margin:10px; 
   text-align: center; 
    moz-box-shadow: 0px 1px 2px #b2b2b2;
    -webkit-box-shadow: 0px 1px 2px #b2b2b2;
    box-shadow: 0px 1px 2px #b2b2b2;
}

#principal > ul > li.card-url-posts{
        max-width: 275px;
}

#principal > ul{
    float: left;
    left: 2%;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

#principal{
    width: 90%;
    display: table;
    margin: auto;
}

/*Mobile*/
/*Para pantallas de 600px de ancho e inferiores*/
@media screen and (min-width: 292px) and (max-width: 940px) {
    .table-blog.notice{
        width: 90%;
        text-align: left;
    }
    .container-central{
        width: 100%;
        margin-top: 30px;
        display: table;
    }

    #principal > ul > li.view-post{ width: 88% !important; }
    #principal > ul > li.card-url-posts{ display: none !important; }
}
/*Fin del mobile*/

/*PARA PC*/
/*Para pantallas con mas de 600px de ancho*/
@media screen and (min-width: 941px){
    .table-blog.notice{
        width: 72%;
        text-align: left;
    }
    #principal > ul > li.view-post{ width: 100% !important; }

    .container-central{
        width: 80%;
        margin-top: 30px;
        margin-left: 10%;
        display: table;
    }
}
/*FIN PARA PC*/